html {
    height: 100%;
    background-color: whitesmoke;
    font-family: 'RobotoRegular';
    display: flex;
    flex-flow: column nowrap;
}
body {
    margin: 0;
    padding: 50px 0 0 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    /*background: url("/Content/img/2fons.ru-51366.jpg") no-repeat center top fixed;
    background-size: 100%;*/
}
header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background: url("/Content/img/fon45.png");
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 50px;
}
.navigation {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.navigation>ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 10px;
}
.navigation>ul li {
    padding: 0;
    position: relative;
    height: 50px;
}
.navigation>ul li:hover .subNavTop {
    display: block;
}
.navigation>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}
.navigation>ul>li:hover>a {
    color: whitesmoke;
}
.navigation>ul>li>a {
    padding: 0 30px;
    font-family: "RobotoLight";
    font-size: 2em;
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
}
.subNavTop {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    background: url("/Content/img/fon45.png");
}
.subNavTop>li>a {
    padding: 0 30px;
    font-family: "RobotoLight";
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: 50px;
}
.navigation p {
    padding: 0 20px 0 0;
    font-family: "RobotoBold";
    font-size: 2em;
    flex: 1 0 auto;
    text-align: end;
}
.navigation>ul li {
    
}
.mainContent {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;

}
footer {
    flex: 0 0 auto;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    flex-flow: row nowrap;
}
footer p {
    flex: auto;
    align-self: center;
    margin: 0;
    padding: 0 0 0 25px;
}
footer img {
    margin: 10px 25px;
    height: 50px;
    padding: 2px;
    flex: 0 1 auto;
    background-color: whitesmoke;
    border-radius: 50px;
}
footer a {
    flex: 1 0 auto;
    align-self: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: whitesmoke;
}
.slideContainer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 1200px;
    align-self: center;
}
.slider {
    flex: 1 0 auto;
}
.item img {
    width: 1200px;
}
.shortDescr {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    align-self: center;
    margin: 25px 0;
}
.shortDescr img {
    flex: 0 1 auto;
    max-height: 150px;
    align-self: center;
    margin: 25px;
}
.textBlock {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}
.textBlock h1 {
    flex: 0 1 auto;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
}
.textBlock p {
    flex: 0 1 auto;
    font-weight: 500;
    font-size: 1.3em;
}
.textBlock ul {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
}
.textBlock ul li a {
    flex: 0 1 auto;
    color: rgb(62, 62, 66);
    font-weight: 600;
}
.goodsView {
    flex: 0 0 auto;
    max-width: 1200px;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.goodsView h1 {
    flex: 1 0 auto;
    width: 100%;
    text-align: center;
}
.goodsView h1 a {
    cursor: pointer;
}
.gItem {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: solid 3px green;
    margin: 20px;
    width: 350px;
    justify-content: flex-end;
}
.gItem a {
    flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
}
.gItem:hover {
    border: solid 3px orangered;
} 
.gItem a img {
    flex: 0 0 auto;
    align-self: center;
    max-width: 200px;
    margin: 20px;
}
.gItem a h1 {
    flex: 0 0 auto;
    font-size: 1.4em;
    margin: 10px;
    align-self: center;
    text-align: center;
}
.engeerBlock {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    align-self: center;
}
.engeerBlock h1 {
    flex: 0 0 auto;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 4em;
    color: orangered;
}
.eDescr {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
.eDescr img {
    height: 300px;
    border-radius: 10px;
    margin: 0 20px 0 0;
}
.eTextBlock {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.eTextBlock h3 {
    flex: 0 0 auto;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 1.4em;
}
.eTextBlock p {
    flex: 0 0 auto;
    font-size: 1.6em;
    text-align: justify;
}
.manufBlock {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    align-self: center;
}
.manufBlock h1 {
    flex: 1 0 auto;
    text-align: center;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    font-weight: 900;
}
.manufBlock p {
    flex: 1 1 auto;
    text-align: justify; 
}
.manufBlock img {
    flex: 0 1 auto;
    max-width: 1200px;
}
.aboutUs {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    background: url("/Content/img/about.jpg") no-repeat top center;
}
.aboutDescr {
    flex: 1 0 auto;
    max-width: 1200px;
    align-self: center;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 20px;
}
.aboutDescr img {
    max-height: 200px;
    margin: 20px;
    align-self: center;
}
.aboutDescr a {
    color: darkblue;
    cursor: pointer;
}
.aboutDescr h1 {
    text-align: center;
    margin: 30px 0 10px 0;
}
.aboutDescr h3 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.aboutDescr p:first-letter {
    margin-left: 20px;
}
.aboutDescr p {
    text-align: justify;
    color: black;
    margin-top: 10px;
}
.contactUs {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
    align-self: center;
    width: 100%;
}
.contactUs h1 {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
}
.retail {
    flex: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.retail img {
    flex: 0 0 auto;
    max-height: 200px;
}
.contData{
    flex: 0 0 auto;
    text-align: right;
    align-self: center;
} 
.catalog {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    align-self: center;
    width: 100%;
}
.catNavigation {
    flex: 1 0 auto;
    display: flex;
    max-width: 300px;
    flex-flow: column nowrap;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}
.selectedItem {
    background-color: lightgreen;
}
.catNavigation ul {
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}
.catNavigation ul li {
    flex: 1 0 auto;
    border-bottom: solid 1px;
    display: flex;
    flex-flow: column;
}
.catNavigation ul li a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    flex: 1 0 auto;
    padding: 20px;
}
.catNavigation ul li a:hover {
    color: whitesmoke;
    background-color: dodgerblue;

}
.catData {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 20px 0;
}
.groupeItem {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 35px 0 0 0;
    justify-content: flex-start;
    border-bottom: solid 1px black;
}
.groupeItem img {
    max-width: 250px;
    align-self: flex-end;
    padding: 0 15px 0 0;
}
.groupeDescr {
    width: 900px;
    position: relative;
}
.groupeDescr h1 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 700;
}
.groupeDescr p {
    text-align: justify;
    margin: 10px 10px 0 0;
}
.groupeDescr p:first-letter {
    margin: 0 0 0 25px;
}
.groupeDescr a {
    cursor: pointer;
    padding: 10px 25px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.subCat {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column wrap;
}
.subCat ul {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.subCat ul li {
    flex: 0 1 auto;
    margin: 10px 10px;
    display: flex;
    flex-flow: column nowrap;
}
.subCat ul li a {
    flex: 1 0 auto;
    border: solid 3px dodgerblue;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    background-color: dodgerblue;
    color: white;
}
.subCat ul li a img {
    flex: 1 0 auto;
    max-width: 100px;
}
.subCat ul li a p {
    flex: 0 0 auto;
    max-width: 150px;
}
.selectedSItem {
    border: solid 3px orangered !important;
}
/*baner*/
.baner {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    background: url("/Content/img/hweap2.jpg") no-repeat top center;
    background-size: auto;
    height: 600px;
    justify-content: space-around;
    overflow: hidden;

}
.baner img {
    align-self: flex-end;
}
.banerContent {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    padding: 20px 20px;
}
.banerContent h1 {
    color: whitesmoke;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "RobotoBold"
}
.banerContent p {
    color: whitesmoke;
    font-family: "RobotoBold";
    letter-spacing: 1px;
    font-size: 2em;
}
.banerContent p:first-letter {
    margin-left: 20px;
}
/**/
/*block Title*/
.blockTitle {
    flex: 0 0 auto;
    background: url("/Content/img/121.jpg") no-repeat top center fixed;
    margin: 0;
    padding: 0;
    border-top: solid 3px whitesmoke;
}
.blockTitle h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "RobotoBold";
    font-size: 3em;
    color: rgb(30, 30, 30);
    margin: 20px;
    color: whitesmoke; 
}
.goodsGuns {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url("/Content/img/fon45.png");
    padding: 30px 0;
    font-family: "RobotoBold";
}
.gunItem {
    flex: 0 1 25%;
    margin: 30px;
    align-self: flex-start;
    border: solid 3px transparent;
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.gunItem:hover {
    border: solid 3px green;    
}
.callToAction {
    position: absolute;
    top: 5px;
    right: 5px;
    list-style: none;
    background-color: red;
    padding: 0;
}
.callToAction li {
    border-bottom: solid 2px transparent;
    padding: 20px 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5em;
    transform: rotate(25deg)
}
.gunItem h3 {
    text-align: center;
}
.gunItem img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding: 10px;
    background-color: white;
}
.gunItemDescr {
    background-color: orange;
    padding: 15px;
}
.gunItemDescr h1 {
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}
.gunItemDescr p {
    text-align: justify;
}
.gunItemDescr table {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.bottomBlock {
    background-color: green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.bottomBlock a {
    flex: 1 0 auto;
    color: whitesmoke;
    padding: 20px;
}
.bottomBlock a:last-child {
    flex: 0 0 auto;
    background-color: orangered;
    color: whitesmoke;
    padding: 20px;
}
/**/
/*recl*/
.recl {
    flex: 0 0 auto;
    background: url("/Content/img/wow.jpg") no-repeat fixed;
    display: flex;
    flex-flow: column nowrap;
}
.recl h1 {
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "RobotoBold";
    border-bottom: solid;
    background-color: #ffffff;
    background-color: rgba(47, 38, 44, 0.7);
    padding: 30px;
    margin: 0;
}
.myGun {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}
.mustKnew {
    flex: 0 0 25%;
    background-color: #ffffff;
    background-color: rgba(47, 38, 44, 0.7);
    margin: 50px 0;
    padding: 20px;
}
.mustKnew h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid;
    padding-bottom: 20px;
}
.mustKnew p {
    color: white;
    font-family: "RobotoLight";
}
.mustKnew p:first-letter {
    margin: 0 0 0 20px;
}
.mustKnew ul {
    color: whitesmoke;
}
/**/
/*map*/
.contactsIndex {
    position: relative;
}
.mapDescr {
    position: absolute;
    top: 20%;
    right: 300px;
    border: solid green;
    background-image: url("/Content/img/fon45.png");
    padding: 30px;
}
.mapDescr address{
    text-align: right;
    font-size: 2em;
}
/**/
/**/
.editForm {
    width: 900px;
    float: left;
    display: block;
}
.editForm input[type="text"] {
    width: 100%;
}
.editForm textarea{
    width: 100%;
    height: 200px;
}
.catImg {
    max-width: 300px;
}
.dem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.photoBlock {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.photoItem {
    display: flex;
    flex-flow: column nowrap;
}
.photoItem img {
    max-width: 200px;
}
.productAd {
    padding: 20px;
}
/**/
/**/
.cartIndex {
    display: flex;
    flex-flow: column;
    background: url("/Content/img/fon45.png");
    flex: auto;
}
.cartIndex h1 {
    text-align: center;
}
.cartLines {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.cartItem {
    max-width: 300px;
    overflow: hidden;
    width: 100%;
    margin: 20px;
    box-shadow: 2px 2px 2px gray;
    position: relative;
}
.cartItem>a {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    color: red;
    font-size: 25px;
}
.cartItem img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding: 10px;
    background-color: white;
}
.cost {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.cost li {
    flex: 1 0 auto;
    text-align: center;
    font-size: 1.3em;
    background-color: dodgerblue;
    color: whitesmoke;
    text-transform: uppercase;
}
.quantity {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.quantity li {
    flex: auto;
    background-color: orangered;
}
.quantity li a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    color: whitesmoke;
}
.quantity li:first-child {
    background-color: green;
}
.quantity li:last-child {
    background-color: red;
}
.summaryCart {
    text-align: center;
    font-family: "RobotoBold";
    font-size: 1.5em;
    background: url("/Content/img/121.jpg") center center;
    color: whitesmoke;
}
.summaryCart p {
    margin: 10px 30px;
    display: inline;
}
.summaryCart a {
    background-color: green;
    padding: 10px 30px;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}
.summaryCart a:hover {
    background-color: transparent;
    color: green;
    transition: all 1s;   
}
.cartIndex>ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 30px;
}
.cartIndex > ul > li:first-child > a {
    background-color: orangered;
    transition: all 1s;
}
.cartIndex > ul > li:first-child > a:hover {
    background-color: transparent;
    color: orangered;
    border: solid 3px orangered;
    transition: all 1s;
}
.cartIndex > ul > li:last-child > a:hover {
    background-color: transparent;
    color: green;
    border: solid 3px green;
    transition: all 1s;    
} 
.persData {
    align-self: center;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.persData input[type="text"] {
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}
.persSubmit {
    margin: 20px 40%;
    font-family: "RobotoBold";
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(135, 208, 131);
    border: none;
}
.thancks {
    padding: 20px;
    background: url("/Content/img/fon45.png");
    flex: auto;
    display: flex;
    flex-direction: column;
}
.thancks table thead {
    background-color: dodgerblue;
    color: whitesmoke;
    text-align: center;
}
.thancks table tfoot {
    background-color: whitesmoke;
    text-align: end;
    font-family: "RobotoBold";
}
.cart {
    order: 5;
    background-color: orangered;
    align-self: flex-start;
    border-bottom-left-radius: 15px;
}
.cart ul {
    list-style: none;
    padding: 10px 20px 0;
}
.cart ul li {
    text-align: center;
}
.cart ul li a {
    color: whitesmoke;
    line-height: 35px;
}
.ordStatus ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.itemWait {
    background-color: lightgray;
    padding: 10px 20px 10px 0;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    border: solid gray;
}
.itemWait span {
    background-color: lightgray;
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    border-right: solid gray;
    margin: 0 10px 0 0;   
}
.itemExec {
    background-color: lightgreen;
    padding: 10px 20px 10px 0;
    color: green;
    font-weight: bold;
    border-radius: 20px;
    border: solid green;
}
.itemExec span {
    background-color: lightgreen;
    padding: 10px 20px;
    color: green;
    font-weight: bold;
    border-radius: 20px;
    border-right: solid green;
    margin: 0 10px 0 0;       
}
/**/
/**/
.delivery {
    flex: 1 0 auto;
    background: url("/Content/img/fon45.png");
    max-width: 1200px;
    width: 100%;
    align-self: center;
    padding: 20px;
}
.delivery h1 {
    text-align: center;
}

/**/
/**/
.productDetails {
    flex: auto;
    background: url("/Content/img/fon45.png");
    display: flex;
    flex-direction: column;
}
.productRow {
    flex: none;
    max-width: 1200px;
    width: 100%;
    align-self: center;
    padding-top: 20px;
}
.productRow ul:first-child {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.productRow ul:first-child > li {
    flex: none;
}
.productRow ul:first-child > li > h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
}
.productRow ul:first-child > li > h3 {
    margin: 0;
    padding: 0;
}
.pHead {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}
.pHead p {
    text-align: justify;
}
.pHead p:first-letter {
    margin-left: 20px;
}
.priceBlock table {
    flex: none;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}
.pAvatar img {
    max-width: 300px;
}
.pControl {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pControl li {
    border-left: solid 3px whitesmoke;
    flex: 1 0 auto;
    background-color: orange;
}
.pControl li a {
    padding: 20px 40px;
    color: whitesmoke;
    font-family: "RobotoBold";
    font-size: 1.5em;
    text-align: center;
    display: block;
}
.priceBlock {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aditionalPhotos {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}
.padItem {
    flex: 0 0 25%;
}
.padItem img {
    width: 100%;
}

/**/