@{
    ViewBag.Title = "О компании - Industrial Development";
}

<div class="aboutUs">
    <div class="aboutDescr">
        <img src="~/Content/img/idlgfpngblue.png" alt="" />
        <h1>Торговый дом "АЙДИ-С"</h1>
        <h3>представляем новую линейку изделий из металла народного потребления</h3>
        <p>Компания "Торговый дом "АЙДИ-С" - крупнейший поставщик металлоконструкций на территории СКФО и ЮФО.
            Мы изготавливаем и реализуем широкий ассортимент изделий из листового металла, выполняя функции внешнего отдела снабжения.
            Компания "Торговый дом "АЙДИ-С" поставляет <a href="http://www.id-racks.ru/Shop/CatDetails?catId=9" target="blank">телекоммуникационные шкафы и стойки 19"</a>,<a>антивандальные шкафы и ящики для телекоммуникационного оборудования</a> и многое другое. Ассортимент поставляемой нами продукции постоянно растет и сейчас мы представляем новую линейку продукции народного потребления, которая включает в себя <a href="/" target="blank">оружейные сейфы</a>, <a>мангалы</a>, <a>стеллажи</a>, <a>металлическую мебель</a>, <a>мебельные сейфы</a>. Уже более двухсот компаний являются нашими постоянными клиентами. Среди них такие компании как "Ростелеком", "Зеленая точка", "Формула связи" и многие другие.
        </p>

        <p>Торговый дом "АЙДИ-С" имеет две производственные площадки. Налаженные процессы производства позволяют нашим клиентам получить сертифицированный товар, а наличие пяти складов обеспечивают оперативную доставку.</p>
        <p>Наличие конструкторского бюро позволяет создавать нестандартную продукцию. Существует возможность производить индивидуальную продукцию для клиента по согласованным техническим заданиям, а также получить консультацию.</p>
        <p>Сотрудничая с Торговый дом "АЙДИ-С" вы получаете качественную сертифицированную продукцию, и индивидуальный подход к каждому клиенту. Будем рады совместному сотрудничеству!</p>
        <p></p>
        <p></p>
        <a href="http://www.id-racks.ru/Home/About" target="blank">подробнее</a>        
    </div>
</div>
