@{
    ViewBag.Title = "Контакты";
}

<div class="contactUs">
    <h1>отдел продаж</h1>
    <div class="retail">
        <img src="~/Content/img/kontakt.jpg" alt=""/>
        <div class="contData">
            <h3>+7(8652)99-19-13</h3>
            <h3>+7(8652)99-05-82</h3>
            <h3>+7(928)373-16-13</h3>
            <strong>Розница:</strong> <a href="mailto:ferocon@id-racks.ru">ferocon@id-racks.ru</a><br/>
            <strong>Оптовый отдел:</strong> <a href="mailto:id@id-racks">id@id-racks</a>
        </div>
        <div class="contData">
            <h3>г. Ставрополь</h3>
            <h3>ул. Льва Толстого, 53</h3>
            <h3>офис 201 на домофоне 1</h3>
        </div>
    </div>
</div>