
@{
    ViewBag.Title = "Доставка сейфов и металлической мебели";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="deliveryBody">
    <div class="delivery">
        <h1>Доставка</h1>
        <p>
            Компания <span>Industrial Development</span> как официальный дистрибьютор, осуществляет доставку товаров:
        </p>
        <ul>
            <li>по городу Ставрополю,</li>
            <li>по Ставропольскому краю,</li>
            <li>в регионы России.</li>
        </ul>
        <p>
            Доставка в регионы осуществляется по средствам транспортных компаний (на выбор заказчика).
            Доставка по городу осуществляется <span>бесплатно!</span>
        </p>
    </div>
</div>
