
@{
    ViewBag.Title = "Оружейные сейфы от производителя в Ставрополе.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.descr = "Оптовые поставки оружейных сейфов, металлической мебели для производства и офисов, стелажи. В наличии и под заказ в г. Ставрополе. Доставка в регионы.";
}
@section scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=FSqZ8kgjYaivhzQQg8Lvdkrihp7C0ayQ&width=100%&height=600&lang=ru_RU&sourceType=constructor&scroll=true&id=map"></script>
}
<div class="baner">
    <div class="banerContent">
        <h1>Оружейные сейфы</h1>
        <p>Предлагаем сейфы для хранения огнестрельного и
            холодного оружия, патронов.</p>
        <p>Продукция Российского производства в Ставрополе.</p>
    </div>
    <img src="~/Content/img/top.png" alt=""/>
</div>
<div class="blockTitle">
    <h1>храните оружие правильно</h1>
</div>
<div class="goodsGuns">
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-100К2.Т1.jpg" alt="Е-100К2.Т1.7022"/>
        <div class="gunItemDescr">
            <h1>Е-100К2.Т1.7022</h1>
            <p>Оружейный сейф Е-100К2.Т1.7022 от производителя ТМ «Ferocon» это отличное решение для тех, кто планирует приобрести ружье или другое, небольшое по размерам нарезное или гладкоствольное оружие.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>265</td>
                    <td>1000</td>
                    <td>225</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 4500р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-100К.П3.jpg" alt="Е-100К.П3.9005" />
        <div class="gunItemDescr">
            <h1>Е-100К.П3.9005 </h1>
            <p>Оружейный сейф Е-100К.П3.9005 от производителя ТМ «Ferocon» представляет собой железный шкаф, предназначенный для хранения нарезного и гладкоствольного оружия. Тем не менее, в сейфе достаточно места для хранения трех единиц оружия в собранном виде, стволы которого надежно зафиксированы в ложементе зажимного типа. Сейф не оснащен трейзером, зато есть съемные полки в количестве трех штук.</p>
            <table>
                <thead>
                    <tr>
                        <td>ширина</td>
                        <td>высота</td>
                        <td>глабина</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>330</td>
                        <td>1000</td>
                        <td>250</td>
                    </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 7000р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-130К2.Т1.7022.jpg" alt="Е-130К2.Т1.7022"/>
        <div class="gunItemDescr">
            <h1>Е-130К2.Т1.7022</h1>
            <p>Оружейный сейф Е-130К2.Т1.7022 от производителя ТМ «Ferocon» предназначен для хранения нарезного или гладкоствольного оружия.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>265</td>
                    <td>1300</td>
                    <td>225</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 5800р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-126К.Т1.jpg" alt="Е-126К.Т1.6006"/>
        <div class="gunItemDescr">
            <h1>Е-126К.Т1.6006</h1>
            <p>Оружейный сейф Е-126К.T1.6006 от производителя ТМ «Ferocon» это отличное решение для тех, кто планирует приобрести ружье или другое, небольшое по размерам нарезное или гладкоствольное оружие. Размеры данной модели оружейного сейфа позволяют размещать два ружья.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>265</td>
                    <td>1245</td>
                    <td>250</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 7500р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-137К1.Т1.П2.jpg" alt="Е-137К1.Т1.П2.9005"/>
        <div class="gunItemDescr">
            <h1>Е-137К1.Т1.П2.9005</h1>
            <p>Оружейный сейф Е-137К1.Т1.П2.9005 от производителя ТМ «Ferocon» непременно заинтересует любителей гладкоствольного и нарезного оружия. Если Вы купили одно ружье, но не собираетесь останавливаться на достигнутом, любите во всем порядок и желаете «разложить все по полочкам», то этот сейф для Вас.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>390</td>
                    <td>1370</td>
                    <td>250</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 8300р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-139К2.Т1.П2.jpg" alt="Е-139К2.Т1.П2.7022"/>
        <div class="gunItemDescr">
            <h1>Е-139К2.Т1.П2.7022</h1>
            <p>Оружейный сейф Е-139К2.Т1.П2.7022 от производителя ТМ «Ferocon» представляет интерес, прежде всего для клиентов, готовых расширять свою коллекцию гладкоствольного и нарезного оружия. Дело в том, что в базовой комплектации сейф имеет 3 оружейных места, но есть возможность установки ложемента на 6 оружейных мест.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>390</td>
                    <td>1370</td>
                    <td>250</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 13500р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-139К1.Е1.Т1.jpg" alt="Е-139К1.Е1.Т1.П2.7022"/>
        <div class="gunItemDescr">
            <h1>Е-139К1.Е1.Т1.П2.7022</h1>
            <p>Оружейный сейф Е-139К1.Е1.Т1.П2.7022 от производителя ТМ «Ferocon» выполнен в классическом прямоугольном дизайне. Особенность данной модели в том, что в стандартной комплектации сейфе можно разместить до 3 единиц гладкоствольного или нарезного оружия. И есть возможность поменять ложемент (специальный держатель, обычно зажимного типа, крепко фиксирующий ствол). В этом случае сейф сможет вместить в себя до шести единиц оружия.</p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>390</td>
                    <td>1370</td>
                    <td>250</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 14500р.</h3>
        </div>
    </div>
    <div class="gunItem">
        <img src="/Content/img/vitrina/Е-140К.Т1.jpg" alt="Е-140К.Т1.П4.7022"/>
        <div class="gunItemDescr">
            <h1>Е-140К.Т1.П4.7022</h1>
            <p>Оружейный сейф Е-140К.Т1.П4.7022 от производителя ТМ «Ferocon» обладает достаточно внушительными размерами, что не удивительно. Данная модель сейфа рассчитана на четыре оружейных мест! Внешняя высота составляет 1,37метра, внутренняя 1,366 метра, что дает возможность хранить оружие в собранном виде. Специальные кармашки обеспечивают надежное крепление для четырех ружей. Трейзер (секретное отделение с отдельным замком) смещен влево от отделения с оружием, тем самым не уменьшает высоту оружейного отделения. Трейзер очень удобен для хранения мелкого оружия, например, пистолета. </p>
            <table>
                <thead>
                <tr>
                    <td>ширина</td>
                    <td>высота</td>
                    <td>глабина</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>500</td>
                    <td>1370</td>
                    <td>380</td>
                </tr>
                </tbody>
            </table>
            <h3>ЛУЧШАЯ ЦЕНА 17500р.</h3>
        </div>
    </div>
</div>
<div class="recl">
    <h1>это важно знать</h1>
    <div class="myGun">
        <div class="mustKnew">
            <h3>о хранении <br/> оружия
            </h3>
            <p>Статья 59. Принадлежащие гражданам Российской Федерации оружие и патроны должны храниться по месту их проживания с соблюдением условий, обеспечивающих их сохранность, безопасность хранения и исключающих доступ к ним посторонних лиц, в запирающихся на замок сейфах или металлических шкафах, ящиках из высокопрочных материалов либо в деревянных ящиках, обитых железом. Органы внутренних дел по месту жительства владельцев имеют право проверять условия хранения зарегистрированного ими оружия.</p>
            <p>Согласно документу, небрежное хранение огнестрельного оружия, создавшее условия для его использования другим лицом:</p>
            <ul>
                <li>если это повлекло смерть человека или иные тяжкие последствия, будет наказываться штрафом в размере до 100 тыс. руб., либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до одного года, либо ограничением свободы на срок до одного года, либо арестом на срок до шести месяцев.</li>
                <li>если это привело к гибели двух и более человек, это будет караться обязательными работами на срок до 480 часов, либо исправительными работами на срок до двух лет, либо лишением свободы на срок до двух лет.</li>

            </ul>
        </div>
        <div class="mustKnew">
            <h3>персональная <br/> ответственность
            </h3>
            <p>В период охотничьего сезона учащаются случаи утраты или неправильного применения охотничьего оружия.</p>
            <ul>
                <li>Зачастую кражи происходят из-за того, что граждане хранят свое охотничье оружие с нарушением установленных правил. К ответственности за хищение, утрату своего оружия владелец привлекается по ст. 224 УК РФ.</li>
                <li>В случае незаконного применения огнестрельного оружия и использования его в не отведённом для этого месте с нарушением установленных правил владелец оружия привлекается по ст. 20.13 КоАП РФ.</li>
                <li>Если владелец оружия привлекался по ст. 8.37 КоАП РФ и его лишили права осуществлять охоту, то аннулируется разрешение на хранение и ношение огнестрельного оружия, и выдается разрешение на хранение без права ношения.</li>
            </ul>
            <p><strong>Штраф за небрежное хранение оружия</strong>
            </p>
            <p>Нарушение статьи 224 УК РФ Небрежное хранение огнестрельного оружия наказывается штрафом в размере до 40000 рублей или в размере заработной платы, или иного дохода осуждённого за период до 3 месяцев, либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до 1 года, либо ограничением свободы на срок до 1 года, либо арестом на срок до 6 месяцев.</p>
        </div>
    </div>
</div>
<div class="contactsIndex">
    <div id="map"></div>
    <div class="mapDescr">
        <h1>Главный офис компании</h1>
        <h3>г. Ставрополь, ул. Льва Толстого 53</h3>
        <address>
            <p>+7 (8652) 99-19-13</p>
            <p>+7 (928) 373-16-13</p>
            <p>+7 (8652) 99-05-82</p>
            <p><a href="mailto:admin@id-racks.ru">Написать письмо</a></p>
        </address>
    </div>
</div>