@{
    ViewBag.Title = "Оужейные сейфы, офисные шкафы, металлическая мебель, стелажи, шкафы для документов.";
    ViewBag.descr = "Оптовые поставки оружейных сейфов, металлической мебели для производства и офисов, стелажи. В наличии и под заказ в г. Ставрополе. Доставка в регионы.";
}
<div class="slideContainer">
    <div class="leftSide"></div>
    <div class="rightSide"></div>
    <div class="slider carousel slide" id="topCarousel" data-ride="carousel" data-interval="10000">
        <ul class="carousel-indicators">
            <li data-target="#topCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#topCarousel" data-slide-to="1"></li>
            <li data-target="#topCarousel" data-slide-to="2"></li>
            <li data-target="#topCarousel" data-slide-to="3"></li>
            <li data-target="#topCarousel" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/img/slider/baner-orgygie.jpg" alt="Оружейные сейфы">
            </div>

            <div class="item">
                <img src="~/Content/img/slider/premium_line_news1.jpg" alt="Сейфы Premium Line">
            </div>

            <div class="item">
                <img src="~/Content/img/slider/shcool&garden.jpg" alt="Одежные шкафы для садиков и школ">
            </div>

            <div class="item">
                <img src="~/Content/img/slider/svar3.jpg" alt="Сварные шкафы">
            </div>
            <div class="item">
                <img src="~/Content/img/slider/banner-seyfi-bl.jpg" alt="Офисные шкафы-сейфы серии БЛ">
            </div>
        </div>
    </div>
</div>
<div class="shortDescr">
    <img src="~/Content/img/idlgfpngblue.png" alt="idLogo"/>
    <div class="textBlock">
        <h1>поставка металлической мебели</h1>
        <p>Компания <strong>Industrial Development</strong> осуществляет поставку металлической мебели торговой марки <span>Ferocon</span> на территории </p>
    </div>
</div>
